<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.title}}</title>
    <link rel="stylesheet" href={{"assets/css/main.css" | relative_url }}>
  </head>
  <body>
    <div>
      <!-- Mobile version of navbar -->
      <nav class="nav-mobile">
        <button id="nav-mobile-menu-button">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <ul id="nav-mobile-list">
          {% for item in site.data.navbar %}
          <li class="{% if page.url == item.link %} nav-active {% endif %}">
            <a href="{{item.link}}"> {{item.title}} </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <!-- Dekstop version of navbar -->
      <nav class="col-12 col-s-12 nav-desktop">
        <ul>
          {% for item in site.data.navbar %}
          <li class="{% if page.url == item.link %} nav-active {% endif %}">
            <a href="{{item.link}}"> {{item.title}} </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <div id="content-wrapper">{{content}}</div>

      <!-- Add footerhere -->
      <footer>
        <div>
          <p id="copyright"></p>
        </div>
      </footer>
    </div>

    <script>
      var currentDate = new Date();
      var year = currentDate.getFullYear();
      document.getElementById(
        "copyright"
      ).textContent = `©${year} by ${"{{site.name}}"}`;

      var button = document.getElementById("nav-mobile-menu-button");
      button.addEventListener("click",openNavBar)

      function openNavBar(){
        document.getElementById("nav-mobile-list").style.right = "50%";
      }

    </script>
  </body>
</html>
